
*.o
*.obj
*.lo
*.slo
*.d
*.pch
*.gch

*.so
*.dylib
*.dll
*.a
*.lib
*.la
*.lai

*.exe
*.out
*.app

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
# Makefile
# build/
bin/

.vscode/

*.sdf
*.opensdf
*.VC.db
*.VC.opendb
.vs/

.idea/
*.iml
cmake-build-*/

*.pro.user*
*.qmake.stash
*.qmlproject.user*

[Dd]esktop.ini
Thumbs.db
ehthumbs.db

.DS_Store
.AppleDouble
.LSOverride


